<mat-toolbar color="secondary">
  <span>ProEventos</span>
  <span class="spacer"> </span>
  <a mat-button target="_blank">Eventos</a>
  <a mat-button target="_blank">Palestrantes</a>
  <a mat-button target="_blank">Contatos</a>
  <mat-accordion class="custom-accordion">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Bruno
        </mat-panel-title>
      </mat-expansion-panel-header>
      <a mat-button target="_blank">Perfil</a>
      <a mat-button target="_blank">Sair</a>
    </mat-expansion-panel>
  </mat-accordion>
</mat-toolbar>
